$white: #ffffff;
$black: #000000;
$blacklight: #231f20;
$greendark: #56c3b2;
$greenblack: #149080;
$green: #62d1ba;

$greenlight: #63d1bb;
$gray: #f1f1f1;
$gray-f9: #f9f9f9;
$gray-fc: #fcfcfc;
$grayborder: #ececec;
$gray-e5: #e5e5e5;
$grey: #c7c7c7;
$greyish: #444444;

//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
