.button {
  display: block;
  width: 260px;
  padding: 14px 5px;

  @include font(17px, 20px, bold);
  color: $greyish;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $white;
  border: 2px solid currentColor;
  cursor: pointer;
}
