.catalog-sections__wrapper {
  background-color: $gray-fc;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -13%;
  background-size: 320px;
  min-height: 373px;
  padding-top: 47px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: -63px;
    background-image: url("../img/hero-desktop.jpg");
    background-size: 1150px 100%;
    background-position: center -5px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    //margin-top: -63px;
    background-size: 1150px 100%;
    background-position: center -5px;
  }
}

.catalog-sections__intro {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 118px;
  color: $black;
  text-align: center;

  @include font(27px, 30px, 700);

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-top: 108px;
    margin-bottom: 355px;

    @include font(43px, 50px, 700);
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-top: 111px;
    margin-bottom: 340px;

    @include font(53px, 57px, 700);
  }
}

.catalog-sections__list-box {
  position: relative;
  @media (min-width: $tablet-width) {
    padding-top: 15px;
    overflow: hidden;
  }
}

.catalog-sections__list-decoration {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 106% 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    height: 27px;
    background-size: 110% 100%;
  }
}

.catalog-sections__list {
  margin: 0 -30px;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-sections__item {
  min-height: 103px;
  padding: 17px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;



  @media (min-width: $tablet-width) {
    min-height: 130px;
    padding: 26px 0 19px 36px;
    padding-top: 0;


    &:hover {
      transform: scaleY(1.03);
      padding-top: 10px;
    }

  }

  @media (min-width: $desktop-width) {
    padding: 26px 0 10px 36px;
    padding-top: 0;

    &:hover {
      transform: scaleY(1.03);
      padding-top: 0px;
    }
  }

  &--light {
    padding-right: 35px;
    background-color: $greenlight;
  }

  &--dark {
    padding-right: 30px;
    background-color: $greendark;
  }
}

.catalog-sections__link {
  flex-grow: 1;
  text-decoration: none;
  color: $white;

  @include font(19px, 24px, 700);

  @media (min-width: $tablet-width) {
    //margin-top: -20px;
    @include font(20px, 30px, 700);
  }
}

.catalog-sections__link:active + .catalog-sections__image {
  opacity: 0.3;
}

.catalog-sections__image {
  fill: $greenblack;

  @media (min-width: $tablet-width) {
    //margin-top: -20px;
  }

}
