.catalog-sections {
  background-color: $gray-fc;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -12%;
  min-height: 373px;

  @media (min-width: $tablet-width) {
    background-size: 83%;
    background-position: center 78%;
  }
}

.catalog-sections__wrapper {
  padding-top: 47px;
  //padding-bottom: 50px;
}

.catalog-sections__intro {
  margin-bottom: 120px;
  color: $black;
  text-align: center;

  @include font(27px, 30px, 700);

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    margin-bottom: 372px;

    @include font(43px, 50px, 700);
  }

  @media (min-width: $desktop-width) {
    margin-top: 64px;
    margin-bottom: 360px;

    @include font(53px, 57px, 700);
  }
}

.catalog-sections__list {
  //margin: 0;
  margin: 0 -30px;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-sections__item {
  padding: 24px 0 19px 30px;

  @media (min-width: $tablet-width) {
    padding: 26px 0 19px 36px;
  }

  &--light {
    background-color: $greenlight;
  }

  &--dark {
    background-color: $greendark;
  }
}

.catalog-sections__link {
  text-decoration: none;
  color: $white;

  @include font(19px, 24px, 700);
}
