.contacts__inner {
  padding: 87px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 50px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 105px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 527px;
    grid-template-areas:
      "contacts-title contacts-map"
      "contacts-details contacts-map"
      "contacts-write contacts-map";
  }
}

.contacts__title-wrapper {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-area: contacts-title;
    justify-content: flex-start;
    margin-bottom: 18px;
    padding-top: 65px;
    padding-left: 62px;
    padding-right: 40px;
  }
}

.contacts__title {
  @media (min-width: $desktop-width) {
    order: 2;
    margin-left: 62px;

    @include font(53px, 57px, 700);
  }
}

.contacts__title-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 3px;
  }
}

.contacts__details-list {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-right: 41px;
  }

  @media (min-width: $desktop-width) {
    grid-area: contacts-details;
    margin-bottom: 52px;
    padding-left: 174px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__details-item {
  grid-template-columns: 77px 1fr;
  padding-bottom: 30px;
}

.contacts__link {
  color: $greyish;
  border-bottom: 1px solid $green;
  display: block;

  &:hover {
    color: $greenlight;
  }

  &:active {
    border-bottom: 1px solid rgba($green, 0.1);
  }


}

.contacts__map {
  margin: 0 -30px 40px;

  @media (min-width: $tablet-width) {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-area: contacts-map;
    margin: 0;
  }
}

.contacts__map-image {
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.contacts__write {
  margin: 0 auto;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
    //margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-area: contacts-write;
    margin-left: 175px;
  }
}

.contacts__key {
  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
  }
}

.contacts__value {
  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
  }
}

.contacts__decoration {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 87px;
  }
}

