.form-cart__wrapper {

  //bottom: auto;
  width: 320px;
  min-height: 336px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding: 30px 30px 45px;
  border: 1px solid $grey;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $tablet-width) {
    width: 566px;
  }
}

.form-cart {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 350px;

  }

}

.form-cart__title {
  margin-top: 0;
  margin-bottom: 14px;

  text-align: center;
  color: $black;
  text-transform: uppercase;

  @include font(25px, 30px, 700);

  @media (min-width: $tablet-width) {
    @include font(30px, 57px, 700);
  }
}

.form-cart__description {
  margin-top: 0;
  margin-bottom: 20px;


  text-align: center;
  color: $greyish;
  //text-transform: uppercase;

  @include font(15px, 30px, 400);

  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
  }

}

.form-cart__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.form-cart__item {
  margin-right: 7px;
}

.form-cart__item:last-child {
  margin-right: 0;
}

.form-cart__label {
  min-width: 82px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgba($greyish, 0.1);

  text-align: center;
  text-transform: uppercase;
  color: $greyish;

  @include font(17px, 16px, 700);

  &:hover {
    border: 2px solid rgba($greyish, 0.3);
  }

  @media (min-width: $tablet-width) {
    min-width: 112px;
  }
}

.form-cart__input--radio:checked + .form-cart__label {
  border: 2px solid $greenlight;
}

.form-cart__button {
  background-color: $greenlight;
  border: none;
  color: $white;

  @include font(17px, 16px, 700);

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
