.manufacture__wrapper {
  //padding: 0 30px 26px;
}

.manufacture__inner {
  padding-bottom: 90px;
  border: 1px solid $grayborder;

  @media (min-width: $tablet-width) {
    padding-bottom: 110px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      "m-video"
      "m-title"
      "m-descr"
      "m-btn";
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "m-video m-title"
      "m-video m-descr"
      "m-video m-btn";
  }
}

.manufacture__title-box {
  //padding: 20px;
  padding-top: 7px;
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-area: m-title;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 40px;
  }
}

.manufacture__video-icon {
  padding-top: 8px;
}

.manufacture__title {
  margin-left: 25px;
  @media (min-width: $tablet-width) {
    margin-left: 35px;
  }
}

.manufacture__video-box {
  @media (min-width: $desktop-width) {
    grid-area: m-video;
  }
}

.manufacture__video-image {
  width: 100%;
}

.manufacture__video-img {
  width: 100%;
}

.manufacture__video {
  display: none;
}

.manufacture__description {
  padding: 0 30px;
  padding-top: 12px;
  margin-bottom: 40px;

  @include font(13px, 24px, 400);

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 40px;
    margin-bottom: 38px;

    @include font(15px, 30px, 400);
  }

  @media (min-width: $desktop-width) {
    grid-area: m-descr;
  }
}


.manufacture__order-link {
  width: 190px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 584px;
  }
}
