.news-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: news;

  @media (min-width: $desktop-width) {
    order: 4;
    //width: 50%;
    display: flex;
    justify-content: flex-start;
    //grid-area: news;
  }
}

.news-list__item{
  @media (min-width: $desktop-width) {
    padding-right: 62px;
  }
}
.news-list__link{
  @media (min-width: $desktop-width) {
    @include font(15px, 24px, 700);
  }
}
