.page-header__inner {
  width: 100%;
}

.page-header__logo {
  display: block;
  min-height: 80px;
  //position: absolute;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
  //
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 318px;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grayborder;
  }

  @media (min-width: $desktop-width) {
    //flex-grow: 0;
    //order: 2;
    //justify-content: center;
    padding-left: 30px;
  }
}

//.page-header__button {
//  //min-height: 100px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.page-header__logo-image {
  width: 86px;
  height: 35px;
  margin: 0 auto;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
    margin: 0;
    padding: 0;
  }
  @media (min-width: $desktop-width) {
    width: 150px;
  }
}
