.page-header__inner {
  width: 100%;
  //padding-bottom: 22px;
}

.page-header__logo {
  grid-area: logo;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    min-width: 320px;
    border-bottom: 1px solid $grayborder;
  }

}

.page-header__logo-image {
  width: 86px;
  height: 35px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
    margin: 0 auto 0 0;
  }

}
