.page-footer__wrapper {
  background-color: $gray;
}

.page-footer__inner {
  @media (min-width: $tablet-width) {
    height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
  }
}

.page-footer__logo-box {
  height: 80px;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.page-footer__logo {
  width: 102px;
  //height: 34px;
}

.page-footer__icon {
  width: 100%;

  &:hover {
    fill: $greenlight;
  }

  &:active {
    fill: rgba($greenlight, 0.3);
  }

}

.page-footer__social {
  height: 80px;
  display: flex;
  justify-content: center;
}

.page-footer__copyright {
  height: 80px;
  display: flex;
  justify-content: center;
}

.page-footer__copyright-box {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__icon-copyright {
  fill: $greenlight;
}
