.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: nav;
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 318px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 13px;
    //display: flex;
    //justify-content: space-between;
    //padding-top: 20px;
    //padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    //flex-grow: 0;
    //order: 1;
    width: 375px;
    padding: 0;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    min-height: 63px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 62px;
  }
}

.site-list__link {
  position: relative;
  display: block;
  //padding: 27px 75px;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 46px;
  padding-right: 0;
  color: $black;
  //border-top: 1px solid $grayborder;
  //border-bottom: 1px solid $grayborder;


  @include font(17px, 24px, 700);

  @media (min-width: $tablet-width) {
    padding: 0;
    //padding-top: 32px;
    @include font(15px, 24px, 700);
  }
  @media (min-width: $desktop-width) {
    padding: 0;
    //padding-top: 32px;
    @include font(17px, 24px, 700);
  }
}



.site-list__icon {
  //position: absolute;
  //top: 28px;
  //left: 2px;
  //width: 18px;
  //height: 18px;
  //opacity: 0.2;
  fill: $black;
  @media (min-width: $tablet-width) {
    //top: 33px;
  }
}

//.site-list__link-search-text {
//  padding-left: 30px;
//  @media (min-width: $tablet-width) {
//    display: none;
//  }
//}
