.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  z-index: 10;

  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 318px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 13px;
  }

  @media (min-width: $desktop-width) {
    //width: 375px;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid $grayborder;
    justify-content: flex-start;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    min-height: 63px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 62px;
    padding-right: 35px;
    border-right: 1px solid $grayborder;
  }
}

li.site-list__item:last-child {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
    border-right: none;
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 46px;
  padding-right: 0;
  color: $black;

  @include font(17px, 24px, 700);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font(15px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    @include font(17px, 24px, 700);
  }
}

.site-list__icon {
  fill: rgba($black, 0.2);
}

.site-list__link:hover .site-list__icon {
  fill: $greenlight;
  opacity: 1;
}

.site-list__link:active .site-list__icon {
  fill: rgba($greenlight, 0.3);
}
