.social {
  margin: 0;
  border-bottom: 1px solid $gray-e5;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  height: 80px;
  display: flex;
  align-items: center;
  //padding-top: 15px;

  @media (min-width: $tablet-width) {
    //padding-top: 8px;
  }
}

.social__link {
  //height: inherit;
  //width: 22px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.social__link--insta {
  width: 22px;
}

.social__link--fb {
  width: 15px;
}

.social__link--twitter {
  width: 23px;
}
