.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: user;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.user-list__item {
  //border-left: 1px solid $grayborder;
  //border-bottom: 1px solid $grayborder;
}

.user-list__item-search {
  //width: 82px;
}
.user-list__item-cart {
  min-width: 238px;
  flex-grow: 1;

}
