.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: user;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $grayborder;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.user-list__item {


  @media (min-width: $tablet-width) {
    //padding: 41px;
    border-left: 1px solid $grayborder;
    //border-bottom: 1px solid $grayborder;
  }
  @media (min-width: $desktop-width) {
    //padding: 41px;
    border-left: 1px solid $grayborder;
    border-bottom: 1px solid $grayborder;
  }
}

.user-list__item-search {


  @media (min-width: $tablet-width) {
    width: 88px;
    height: 88px;
  }
  @media (min-width: $desktop-width) {
    //width: 82px;
    //height: 82px;
  }
}

.user-list__link-search{
  @media (min-width: $tablet-width) {
    display: block;

    width: 100%;
    height: 100%;
  }

}

.user-list__icon--searsh{

}

.user-list__item-cart {
  min-width: 238px;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}
