.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 350px;
    flex-direction: row;
    border-bottom: 1px solid $grayborder;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 175px;
    border-bottom: 1px solid $grayborder;
  }
}

.user-list__item-search {
  @media (min-width: $tablet-width) {
    min-width: 88px;
    min-height: 88px;
    flex-grow: 1;
    border-left: 1px solid $grayborder;
    border-right: 1px solid $grayborder;
  }

  @media (min-width: $desktop-width) {
    min-width: 84px;
  }
}

.user-list__link-search {
  min-height: 88px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.user-list__link-search-text {
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__item-cart {
  @media (min-width: $tablet-width) {
    min-width: 262px;
    flex-grow: 1;
  }
}

.user-list__link-cart {
  min-height: 88px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-list__icon--cart {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.user-list__text--cart {
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    @include font(17px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }
}
